/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(E.jpg);
    color: #333;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  main {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-section, .upi-section, .number-section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .qr-code {
    text-align: center;
  }
  
  .qr-code img {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
    font-size: 16px;
  }
  